<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.schoolmg.login.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.schoolmg.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.schoolmg.login.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Etudiant</servlet-name>
    <servlet-class>com.schoolmg.login.ListEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etudiant</servlet-name>
    <url-pattern>/etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Professeur</servlet-name>
    <servlet-class>com.schoolmg.login.ListProfesseur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Professeur</servlet-name>
    <url-pattern>/professeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administrateur</servlet-name>
    <servlet-class>com.schoolmg.login.ListAdministrateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administrateur</servlet-name>
    <url-pattern>/administrateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierEtudiant</servlet-name>
    <servlet-class>com.schoolmg.login.ModifierEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEtudiant</servlet-name>
    <url-pattern>/modifierEtudiant</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>